{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefieldcityname">name</label><input type="text" id="somefieldcityname" name="name"/></div>
<div class="field"><label for="somefieldcountry_id">country_id</label><select id="somefieldcountry_id" name="country_id"><option value="novalue">no value</option>
{% for somecountry in touslescountry %}
<option value="{{ somecountry['id'] }}">{{ somecountry['name'] }}</option>{% endfor %}
</select></div><div class="actions"><input type="submit"/></div></form>{% for x in citys %}<p class="myname">{{x["name"] }}</p>{% endfor %}{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_city"> add one city</a>{% endblock %}