{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefieldsimplescoretitle_score">title_score</label><input type="text" id="somefieldsimplescoretitle_score" name="title_score"/></div>
<div class="field"><label for="somefieldsimplescorecomposer">composer</label><input type="text" id="somefieldsimplescorecomposer" name="composer"/></div>
<div class="field"><label for="somefieldmyscore">myscore</label><textarea id="somefieldmyscore1" name="myscore"></textarea>
</div>
<div class="field"><label for="somefieldsimplescorepic">pic</label><input type="text" id="somefieldsimplescorepic" name="pic"/></div>
<div class="field"><label for="somefieldsimplescoretime_signature">time_signature</label><input type="text" id="somefieldsimplescoretime_signature" name="time_signature"/></div>
<div class="field"><label for="somefieldsimplescorekey_signature">key_signature</label><input type="text" id="somefieldsimplescorekey_signature" name="key_signature"/></div>
<div class="field"><label for="somefieldcity_id">city_id</label><select id="somefieldcity_id" name="city_id"><option value="novalue">no value</option>
{% for somecity in touslescity %}
<option value="{{ somecity['id'] }}">{{ somecity['name'] }}</option>{% endfor %}
</select></div>
<div class="field"><label for="somefieldsimplescoreedition">edition</label><input type="text" id="somefieldsimplescoreedition" name="edition"/></div>
<div class="field"><label for="somefielduser_id">user_id</label><select id="somefielduser_id" name="user_id"><option value="novalue">no value</option>
{% for someuser in touslesuser %}
<option value="{{ someuser['id'] }}">{{ someuser['name'] }}</option>{% endfor %}
</select></div>
<div class="field"><label for="somefieldmorceau_a_jouer_id">morceau_a_jouer_id</label><select id="somefieldmorceau_a_jouer_id" name="morceau_a_jouer_id"><option value="novalue">no value</option>
{% for somemorceau_a_jouer in touslesmorceau_a_jouer %}
<option value="{{ somemorceau_a_jouer['id'] }}">{{ somemorceau_a_jouer['name'] }}</option>{% endfor %}
</select></div><div class="actions"><input type="submit"/></div></form>{% for x in simplescores %}<p class="mytitle_score">{{x["title_score"] }}</p>{% endfor %}{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_simplescore"> add one simplescore</a>{% endblock %}